* {
    font-family:'Courier New', Courier, monospace;
}


body {
    background-color: rgb(0, 0, 0);
} 

div {
    border-style:none;
    border-color: red;
}

/* Header */


/* top nav bar */
#topnav_container {
    font-family:'Courier New', Courier, monospace;
    position: fixed;
    top: 0px;
    background-color: rgba(0,0,0,1);
    left:0px;
    height: 50px;
    font-size: x-large;
    width: 100%;
    z-index: 1;
    border-style: none;
}

#lang0 { 
    left: 20px;
    position: absolute;
    bottom:0px;
    height:25px;
}

#search_container {
    color: white;
    text-decoration: none;
    right: 20px;
    position: absolute;
    bottom: 7px;
    width:200px;
    text-align: right;
    border-style: none;
    padding: 15px;
    top:0px;
    
}

#search_container:hover {
    color:transparent;
    transition: 0.1s;
    width: 700px;
}

#search_container:hover #topnav_links_container {
    right: 7px;
    transition: .8s;
    transition-delay: .1s;
}

#topnav_links_container {
    display: inline;
    right: -700px;
    bottom:0px;
    position: absolute;
}


.navlink:link, .navlink:visited {
    position: relative;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding:11px 15px;
    height: 50px;
    z-index: 1;
    bottom:0px;
}

.navlink:hover, .navlink:active {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}

/* Main content */

/*   to right, rgba(247, 248, 251, 0), rgba(247, 248, 251, .2), rgba(45, 172, 192,1),rgba(45, 172, 192,1)    */

#main_content {   
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.4), rgb(255, 255, 255),rgb(255, 255, 255)),
    url('/images/background_pic.jpg');
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-size: auto 100%;
    height: 92vh;
    margin:0px;
    top:43px;
    position: relative;
}

#main_middle {
    position: absolute;
    width:70%;
    left:0px;
    border:1px solid;
    border-color: red;
    display:flex;
    align-items: center;
}

#text_container {
    background-color: rgb(255, 255, 255,.4);
    padding:  1%;
    position:absolute;
    left: 30%;
    
}

#text_container ul li {
    font-size: larger;
    font-weight:600;
    margin: 5px;
}

#paths_container {
    position: absolute;
    margin-right: 50px;
    border: 2px solid;
    border-color: red;
}

#paths_container a {
    position:absolute;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-size: auto 100%;
    border: 2px solid;
    border-color: red;
    height:100px;
    width:100px;
    
}

#paths_container:nth-child(1) {
    background-image: url(/images/friends_pic.png);
}
#paths_container:nth-child(2) {
    background-image: url(/images/prof_pic.png);
}
#paths_container:nth-child(3) {
    background-image: url(/images/class_pic.png);
}


#paths_container img {
    height: 22vh;
    opacity: 1;
    border-radius: 5%;
    opacity: 1;
    filter:brightness(.8);
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 6px;

}

.path_text {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size:xx-large;
    font-weight: 540;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    background-color: rgb(255, 255, 255,.6);
    padding-bottom: 6px;



}

#paths_container a:hover img {
    border-color: rgb(56, 104, 237);
    border-style: solid;
    border-width: 8px;
    transition: .2s;
}

/* footer */

.lang_container {
    position: fixed;
    justify-content: center;
    width: 100%;
    display:flex;
    bottom: 5%;
    color: rgb(0, 0, 0);
}

.lang_container a {
    text-decoration: none;
}

.lang_container a label {
    cursor: pointer;
    color: rgb(30, 44, 192);
    padding: 2px;
}

.lang_container a label:hover {
    color: rgb(255, 255, 255);
    background-color: black;
}