#main_content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#main_content a {
    font-size: 2rem;
}

