/* div {
    border: 1px solid red;
} */


#main_content {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#game_camera {
    border: 2px solid red;
    position: relative;
    overflow: hidden;
}

.dynamic {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: absolute;
    margin: 0;
    padding: 0;    
}

#barrier {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: absolute;
    margin: 0;
    padding: 0;    
}